<ion-header>
  <ion-toolbar>
    <ion-title>Adopta!</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="filtro">
      <ion-segment-button value="todos">
        <ion-label>Galería</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nuevo" (click)="irANuevo()">
        <ion-label>Registra un perro!</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      @for (perro of perros; track perro.id) {
        <ion-col size="12" size-md="6" size-lg="4">
          <app-tarjeta-perro [perro]="perro"></app-tarjeta-perro>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
